<header>
    <div class="nav-wrapper">
        <div class="logo">
            <a routerLink="/home">Danie.dev</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
                <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>