<footer class="container mt-5 py-5 text-center">
    <div class="social-links d-flex justify-content-center gap-4 mb-3">
        <a href="https://github.com/dicunningham" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/danielle-cunningham-25b832248/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="/assets/resume.pdf" target="_blank" aria-label="Resume">
            <i class="fas fa-file-alt"></i>
        </a>
    </div>
    <p>
        &copy; {{ config.currentYear }} {{config.myName}}. All rights reserved.
    </p>
</footer>